* {
    padding: 0;
    margin: 0;
}
body{
    font-family: 'HarmonyOS_Sans_Bold.ttf', sans-serif;
}
/*first*/
.first{
    background-color: antiquewhite;
    color: white;
    height: 40vw;
    background-image: url("imges/2025-01-23_17.58.13.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.first h1{
    font-size: 9vw;
}

.first h3{
    margin: 1.5vw 0;
}
.first a{
    color: white;
    text-decoration: none;
    border: 3px solid white;
    font-size: 1vw;
    padding: 0.5vw 1vw;
}
/*second*/
.second{
    display: flex;
}
.second img{
    width: 55%;
}
.secondinfo{
    width: 55%;
    background-color: #3d84a8;

    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    padding-right: 2.8vw;
}
.secondinfo h1{
    color: #eeeeee;
    margin: 3vw 0;
    font-size: 4vw;
}
.secondinfo h2{
    color: #eeeeee;
    font-size: 1.5vw;
}
/*third*/
.third{
    display: flex;
}
.third img{
    width: 70%;
}
.thirdinfo{
    width: 70%;
    background-color: #3d84a8;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-left: 1.4vw;
}
.thirdinfo h1{
    font-size: 3vw;
    color: #eeeeee;
}
.thirdinfo h2{
    margin: 3vw 0;
    font-size: 2vw;
    color: #eeeeee;
}
.third a{
    color: white;
    text-decoration: none;
    border: 3px solid white;
    font-size: 1vw;
    padding: 0.5vw 1vw;
}
/*fourth*/
.fourth{
    background-color: antiquewhite;
    color: white;
    height: 25vw;
    background-image: url("imges/2025-01-23_17.15.48.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fourth h1{
    font-size: 2vw;
}
.fourth h2{
    margin: 3vw 0;
    font-size: 1.5vw;
}
.fourth a{
    color: white;
    text-decoration: none;
    border: 3px solid white;
    font-size: 1vw;
    padding: 0.5vw 1vw;
}
/*footer*/
footer{
    background-color: #3e4149;
    color: white;
    height: 4vw;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 0.8vw;
    padding-left: 2vw;
}
footer p{
    font-size: 1vw;
    padding-left: 1vw;
}